@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@400;700&display=swap");

:root {
    --red-pantone: #e63946;
    --honeydew: #f1faee;
    --non-photo-blue: #a8dadc;
    --cerulean: #457b9d;
    --berkeley-blue: #1d3557;
    --complement: #ffc6a8;
    --darkgray: rgb(197, 197, 197);
    --medium-gray: rgb(216, 216, 216);
    --lightgray: rgb(235, 235, 235);
    --orange-dark: rgb(185, 82, 32);
    --red-dark: rgb(169, 33, 34);
    --greeen: rgb(0, 152, 13);
}
nav {
    background-color: var(--complement);
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-bottom: 40px;
}
body {
    font-family: "Signika Negative", sans-serif;
    background-color: var(--darkgray);
}
main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-bottom: 40px;
}
.inputs input {
    border-radius: 5px;
    border: none;
    padding: 5px;
}
.inputs {
    flex-shrink: 0;
    width: 595px;
    height: fit-content;
    border-radius: 5px;
    background-color: var(--lightgray);
    padding: 20px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.personal-info-inputs {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 5px;
}

.example-btn {
    background-color: var(--orange-dark);
}

.reset-btn {
    background-color: var(--red-dark);
}

.print-btn {
    background-color: var(--greeen);
    width: 100%;
}

.add-experience-btn {
    background-color: rgb(45,45,45);
}

.bold-text {
    font-weight: bold;
}
